.app-background {
  background-color: #121212; /* Navbar ile aynı arka plan */
  min-height: 100vh;
}

.results-card {
  background-color: #001f3f; /* Lacivert kart arka planı */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-bar {
  background-color: #121212 !important; /* Arka plan rengi ile aynı */
  border: 2px solid transparent !important; /* Varsayılan çerçeve */
  border-radius: 5px !important;
  color: white !important;
  padding: 10px !important;
  width: 100% !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: #198754 !important; /* Focus durumunda yeşil çerçeve */
  box-shadow: 0 0 5px #198754 !important; /* Hafif bir ışık efekti */
}

.search-bar.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5); /* Kırmızı gölge */
}

.invalid-tooltip {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.invalid-tooltip:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #dc3545 transparent;
}

.search-bar::placeholder {
  color: grey !important; /* Placeholder rengini ayarla */
}



.card-item {
  background-color: #003366; /* Lacivert kart içeriği */
  color: white; /* Yazı rengi beyaz */
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: calc(28% - 10px);
  box-shadow: 0px 0px 8px 0px #000;
}

.card-item h4,
.card-item p {
  margin: 5px 0;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
